<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         stopOnFailure="true"
         bootstrap="plugin/autoload.php"
         cacheResult ="false"
         failOnRisky="true"
         failOnWarning="true"
         defaultTestSuite="all">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./plugin</directory>
      <directory>./tests</directory>
    </exclude>
    <report>
      <html outputDirectory="./tests/.report"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="all">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
